{{define "title"}}All Threads in Subject{{end}}

{{define "main"}}
    <ul>
        {{range .Data}}
            <li><a href="/forum/thread?thread={{.Title}}">{{.Title}}</a></li>
        {{end}}
    </ul>
    <form action="/forum/createthread" method="POST">
        <input type="hidden" name="subjecttitle" value="{{.SubjectTitle}}">
        <input type="hidden" name="subjectid" value="{{.SubjectID}}">
        <div>
            <label>Title:</label>
            <input type="text" name="threadtitle"></textarea>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
{{end}}